%h1= @list.title
=link_to 'Edit', edit_list_path(@list)

= form_for @newTask, :remote => true do |f|
  = f.hidden_field :list_id
  .form-group
    .input-group
      = f.text_field :title, :class => 'form-control'
      %span.input-group-btn
        =f.submit 'Create Task', :class => 'btn btn-default'

.list-tasks
  =render 'list', :tasks => @tasks
  
.list-tasks-completed
  %h3 Completed
  =render 'list', :tasks => @completedTasks
  
:coffeescript
  $(document).ready () ->
    if $('.list-tasks-completed .list-group li').length > 0
      $('.list-tasks-completed').show()
      return
    else
      $('.list-tasks-completed').hide()
      return