%li.list-group-item
  - if !task.complete?
    .task-toggle.pull-left
      %a.toggle{ :href => toggle_path(task), 'data-method' => :put, 'data-remote' => true }
        %span.glyphicon.glyphicon-unchecked
  - else
    .task-toggle.pull-left
      %a.toggle{ :href => toggle_path(task), 'data-method' => :put, 'data-remote' => true }
        %span.glyphicon.glyphicon-check

  .pull-right
    - if !task.complete?
      %a.delete_task{ :href => task_path(task), 'data-method' => :delete, 'data-remote' => true, 'data-confirm' => "Are you sure you want to delete \"#{task.title}\"?" }
        %span.glyphicon.glyphicon-trash
      
  .task-info
    = task.title