%li.list-group-item
  - if !task.complete?
    .pull-left
      = link_to 'Check', toggle_path(task), :class => 'toggle', :method => :put, remote: true
  - else
    .pull-left
      = link_to 'Uncheck', toggle_path(task), :class => 'toggle', :method => :put, remote: true
  = task.title