- showListTitle = true

.list-tasks
  %h1 All Tasks
  =render partial: 'lists/list', :locals => { :tasks => @tasks, :showListTitle => showListTitle }
  
.list-tasks-completed
  %h3 Completed
  =render  partial: 'lists/list', :locals => { :tasks => @completedTasks, :showListTitle => showListTitle }
  
:coffeescript
  $(document).ready () ->
    if $('.list-tasks-completed .list-group li').length > 0
      $('.list-tasks-completed').show()
      return
    else
      $('.list-tasks-completed').hide()
      return